body{
  background: #FFF2CC;
  overflow: hidden;
  min-width: 1700px;
}
#title{
  position: relative;
  display: inline-block;
  width: 8%;
  min-width: 100px;
  margin-left: 46%;
  margin-top: 1%;
  margin-bottom: 2%;
}
#save_img{
  position: relative;
  float: right;
  margin-right: 10px;
}
#start_img{
  position: relative;
  float: right;
  margin-right: 10px;
}
.innerframe{
  position: relative;
  background-color: #FFFFFF;
  border: #FFFFFF solid 1px;
  width: 80%;
  min-height: 650px;
  margin-left: 10%;
  padding-top: 6px;
  margin-top: 0%;
}
.tab{
  color: #858072;
  padding: 4px;
  position: relative;
  margin: 2%;
}
.tab:hover{
  background-color: rgb(236, 255, 197);
}
#role_tab{
  background-color: rgb(236, 255, 197);
}
hr{
  height: 0;
  border: none;
  border-top: #acacac 1px solid;
}
#arrow_left{
  position: relative;
  float: left;
}
.arrow {
  margin: 1%;
}
#arrow_right {
  position: absolute;
  float: right;
  z-index: 2;
}
.mainForm{
  position: relative;
  width: 100%;
  min-height: 500px;
  padding: 10px;
  display: inline;
}

.labelarea{
  display: inline-block;
}
#leader_name{
  position: absolute;
  width: 200px;
  margin-left: -17.5%;
  float: left;
  color: #acacac;
  font-weight: 500;
  font-size: 1.2vw;
  z-index: 3;
  text-align: center;
  background-color: #FFFDE5;
  margin-top: 3.5%;
  border: none;
}
#title_logo{
  z-index: 0;
  padding: 25px;
}
#secondp{
  position: relative;
  padding-left: 5px;

}
input[type="text"]::-webkit-outer-spin-button,
input[type="text"]::-webki-innner-spin-button{
  -webkit-appearance: none;
}
::-webkit-input-placeholder{
  font-style: italic;
  color: #cccccc;
}
:-moz-placeholder{
  font-style: italic;
  color: #cccccc;
}
::-moz-placeholder {
  font-style: italic;  
  color:#cccccc;
}
::-ms-input-placeholder {  
  font-style: italic; 
  color:#cccccc;
}