body{background-color: #FFF2CC;min-width:800px;}
#title {position: relative; width:8%; min-width:100px; margin-left:46%;margin-top:1%; margin-bottom: 2%}
.innerframe {position:relative;
            background-color: #FFFFFF;
            border:#FFFFFF solid 1px; 
            width:80%; min-height:650px;
            margin-left:10%; padding-top:6px;
            margin-top:0% 
            }
.tab {color:#858072;
      padding:4px;
      position:relative;
      margin:2%;
     }
.tab:hover{background-color:rgb(236, 255, 197);}
#leader_tab{background-color: rgb(236, 255, 197);}

.firstline{position: relative; float:left; width:100%; margin-left:15%; margin-top:5%;}
.secondline{position: relative; float:left; width:100%; margin-left:15%; margin-top:5%;}
.thirdline{position: relative; float:left; width:100%; margin-left:15%; margin-top:5%;}

.labelarea{display:inline}
.name_label_white {position: relative; float:left; width:17%; margin-bottom:5%;  margin-right:10%;}
.role_name, .fake_name {position: relative; float:left; z-index:100; color:#858585; margin-left:-19.5%; margin-top:1%;
            font-weight:500; font-size:1.5vw; background-color:#FFFDE5; width: 14%; height:2vw; border:none;
            text-align:center;} 
.start {display:inline; margin-top:-20%; margin-left:85%;}

#role_name1 {position: absolute; margin-left:-79.5%;}
#role_name2 {position: absolute; margin-left:-52.4%;}
#role_name3 {position: absolute; margin-left:-25.4%;}
#role_name4 {position: absolute; margin-left:-79.5%;}
#role_name5 {position: absolute; margin-left:-52.4%;}
#role_name6 {position: absolute; margin-left:-25.4%;}
#role_name7 {position: absolute; margin-left:-79.5%;}
#role_name8 {position: absolute; margin-left:-52.4%;}
#role_name9 {position: absolute; margin-left:-25.4%;}


#fake_name3 {position: absolute; margin-left:-25.4%;}
#fake_name4 {position: absolute; margin-left:-79.5%;}
#fake_name5 {position: absolute; margin-left:-52.4%;}
#fake_name6 {position: absolute; margin-left:-25.4%;}
#fake_name7 {position: absolute; margin-left:-79.5%;}
#fake_name8 {position: absolute; margin-left:-52.4%;}
#fake_name9 {position: absolute; margin-left:-25.4%;}

#labelarea4{visibility: hidden;}
#labelarea5{visibility: hidden;}
#labelarea6{visibility: hidden;}
#labelarea7{visibility: hidden;}
#labelarea8{visibility: hidden;}
#labelarea9{visibility: hidden;} 

.cancel{position: relative; float:left;
      margin-top:0.5%; margin-left:1%; z-index:1000000;
    color:#ffd7d5;font-size:1.2em;font-weight: bold;
    margin-left:-25.5%;visibility:hidden}
.cancel:hover{color:rgb(255, 182, 194);font-size:1.28em}



           


